<h1><a href="/recipes">Recipes</a></h1>

    <h2><%= @recipe.name %></h2>
        <p>Cooktime: <%= @recipe.cook_time %> minutes</p>
    <h3>Ingredients</h3>
        <ul>
            <li><%= @recipe.ingredients %></li>
        </ul>
    <p><a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a></p>

<form action="/recipes/<%= @recipe.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
</form>